<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-overview/04-computational-approach/index.html">Introduction to Working With Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>9:45</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-overview/03-jargon-busting/index.html">Jargon Busting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:05</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Tidy Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>12:30</td>        <!-- time    -->
        <td>Finish lesson, discuss any questions and prep for tomorrow</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>1:00</td>        <!-- time    -->
        <td>Finish for the day</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:05</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-data-intro/">Regular Expressions (continued)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:30</td>        <!-- time    -->
        <td>Finish lesson, discuss any questions and prep for tomorrow</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>1:00</td>        <!-- time    -->
        <td>Finish for the day</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-sql/">Structured Query Language (SQL)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:05</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-sql/">Structured Query Language (SQL)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:30</td>        <!-- time    -->
        <td>Finish lesson, discuss any questions and prep for tomorrow</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>1:00</td>        <!-- time    -->
        <td>Finish for the day</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:05</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine (continued)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:30</td>        <!-- time    -->
        <td>Finish lesson, discuss any questions and prep for tomorrow</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>1:00</td>        <!-- time    -->
        <td>Finish for the day</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
